.history{
  width: 900px;
  display: flex;
  gap: 20px;
  border: 1px solid gray;
  flex-direction: column;
  padding: 15px;
  &__item{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .id{
    flex: 1% 0 0;
  }
  .sendCard{
    flex: 20% 0 0;
  }
  .receiveCard{
    flex: 20% 0 0;
  }
  .money{
    flex: 10% 0 0;
  }
  .date{
    flex: 5% 0 0;
  }
  .action{
    flex: 20% 0 0;
  }
}
