<form
  class="transaction"
  (ngSubmit)="data.saveTransaction()"
  [formGroup]="myForm"
  novalidate
>
  <div class="transaction__cards">
    <div class="transaction__item">
      <p>Карта плательщика</p>
      <div class="card-number" formArrayName="sendCard">
          <input
            *ngFor="let item of getFormsControls('sendCard')['controls']; let i = index"
            formControlName="{{i}}"
            maxlength="4"
          >
      </div>
      <div class="card-info">
        <div class="card-name">
          <p>ФИО держателя</p>
          <input formControlName="ownerName">
        </div>
        <div class="card-date">
          <p>Активна до</p>
          <div class="card-date__select">
            <select formControlName="cardMonth">
              <option *ngFor="let item of dataMonth" value="{{item}}">{{item}}</option>
            </select>
            <select formControlName="cardYear">
              <option *ngFor="let item of dataYear" value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="transaction__item">
      <p>Карта получателя</p>
      <div class="card-number" formArrayName="receiveCard">
        <input
          *ngFor="let item of getFormsControls('receiveCard')['controls']; let i = index"
          formControlName="{{i}}"
          maxlength="4"
        >
      </div>
    </div>
  </div>
  <div class="send-money">
    <input formControlName="amountMoney">
    <button type="submit">{{'перевести'| uppercase}}</button>
  </div>
</form>
